<div class="mat-card-view">
    <!-- mat- cards for looping cards design -->
    <mat-card *ngFor="let item of apiData">
        <mat-card-header>
            <!-- date card -->
            <div mat-card-avatar class="example-header-image">{{getDay(item.date)}}</div>
            <mat-card-title>{{getMonth(item.date)}}</mat-card-title>
            <mat-card-subtitle>{{getYear(item.date)}}</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <!-- open, High, Low and close data cards -->
            <mat-card class="mat-sub-card">
                <p><b>Open</b>:<br /> {{item.open}}</p>
                <mat-divider></mat-divider>
                <p><b>High</b>:<br /> {{item.high}}</p>
            </mat-card>
            <mat-card class="mat-sub-card">
                <p><b>Low</b>:<br /> {{item.low}}</p>
                <mat-divider></mat-divider>
                <p><b>Close</b>:<br /> {{item.close}}</p>
            </mat-card>
        </mat-card-content>
        <mat-card-footer>
            <!-- volume in footer -->
            <p> <b>Volume</b>: {{item.volume}} </p>
        </mat-card-footer>
    </mat-card>
</div>