<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="example-header-image">10</div>
        <mat-card-title>Feb</mat-card-title>
        <mat-card-subtitle>2020</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-card class="mat-sub-card">
            <p>open:<br /> 47263179</p>
        </mat-card>
        <mat-card class="mat-sub-card">
            <p>high:<br /> 47263179</p>
        </mat-card>
        <mat-card class="mat-sub-card">
            <p>low:<br /> 47263179</p>
        </mat-card>
        <mat-card class="mat-sub-card">
            <p>close:<br /> 47263179</p>
        </mat-card>
    </mat-card-content>
    <mat-card-footer>
        <p> volume: 36752374 </p>
    </mat-card-footer>
</mat-card>