mat-card {
    width: 60%;

    @media screen and (max-width: 570px) {
        width: 90%;
    }

    border: 1px solid #3f51b5;
    padding: 14px;
    margin: 8px 0px;
}

.mat-card-view {
    width: 94%;
    margin: auto;
}

.example-header-image {
    background-size: cover;
    border-radius: 50%;
    color: white;
    background-color: #3f51b5;
    align-items: center;
    justify-content: center;
    display: flex;
}

mat-divider {
    width: 80%;
}

mat-card-content {
    display: flex;
    margin-top: 10px;

    .mat-sub-card {
        width: 50%;
        margin: 0 5px 0 0;

        mat-divider {
            position: relative;
        }
    }

    mat-card {
        width: auto;

        p {
            min-width: 100px;

            @media screen and (max-width: 320px) {
                max-width: 80px;
                min-width: 50px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

        }
    }
}

mat-card-footer {
    width: 100%;
    height: auto;
    text-align: center;
}