<div class="normal-cards-view">
    <div class="normal-card-view" *ngFor="let item of apiData">
        <div class="date-header">Date: {{item.Date}}</div>
        <div class="sub-cards">
            <div class="sub-card"><b>Open</b>:<br /> {{item.Open}}</div>
            <div class="sub-card"><b>High</b>:<br /> {{item.High}}</div>
        </div>
        <div class="sub-cards">
            <div class="sub-card"><b>Low</b>:<br /> {{item.Low}}</div>
            <div class="sub-card"><b>Close</b>:<br /> {{item.Close}}</div>
        </div>
        <div class="volume-footer"><b>Volume</b>: {{item.Volume}}</div>
    </div>
</div>